.date-widget-container {
  order: 1;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.03) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  background-size: 0.5rem 0.5rem;
}

.date-widget-container.gradient-border:after {
  background: linear-gradient(180deg, #042742, #05172f);
}

.date--month {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #fbdbc1;
}

.date--day {
  margin: 0;
  padding: 0;
  font-size: 64px;
  font-weight: 800;
  color: #ff4f4f;
  text-shadow: 0 2px 4px #00132e;
}

@media screen and (max-width: 480px) {
  .date--day {
    font-size: 80px;
  }
  .date--month {
    font-size: 18px;
  }
}
