@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("flex.css");
@import url("currency-widget.css");
@import url("context-menu.css");
@import url("animation.css");
@import url("container.css");
@import url("date-widget.css");
@import url("weeks-widget.css");
@import url("air-widget.css");
@import url("time-widget.css");
@import url("datecount-widget.css");
@import url("custom-flatpickr.css");
@import url("quote-widget.css");
@import url("music-widget.css");
@import url("bookmarks-widget.css");
@import url("calendar-widget.css");
@import url("coffee-widget.css");
@import url("contact-author-widget.css");

:root {
  --text-black: rgb(41, 41, 41);
  --text-gray-400: rgb(156, 163, 175);
  --text-gray-500: rgb(107 114 128);
  --vh: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: var(--vh);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-gray-400);
  background: linear-gradient(to bottom, #ffffff, #c1c3ff 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  min-height: var(--vh);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--vh);
  background: linear-gradient(to bottom, #ffffff, #c1c3ff);
  z-index: -1;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.widgets .widgets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  padding: 24px;
}

.p-0 {
  padding: 0;
}

.pt-12 {
  padding-top: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pb-8 {
  padding-bottom: 8px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-24 {
  margin-bottom: 24px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.text-center {
  text-align: center;
}

.project-title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  background: #45059d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header {
  margin-right: auto;
}

.tooltip {
  position: fixed;
  background-color: rgba(12, 12, 12, 0.9);
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  max-width: 250px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
  cursor: none;
  z-index: 9999;
}

.tooltip p {
  margin: 0;
  padding: 4px 0;
}

.tooltip.visible {
  opacity: 1;
  transform: translateY(0);
}

.cta-button {
  overflow: hidden;
  gap: 4px;
  background-color: #8987df;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 1px 6px #b7bef8;
}

.info {
  padding: 8px 12px;
}

.cta-button:hover {
  box-shadow: 0 0 4px #8e8e8e23;
}

.cta-button a {
  position: relative;
  padding: 8px 8px;
  color: #161616;
}

.cta-button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  transition: left 0.8s ease;
  z-index: 1;
}

.info-icon {
  position: relative;
  width: 40px;
  cursor: none;
}

.cta-button:hover a::before {
  left: 100%;
}

.footer-label {
  order: 2;
  color: #4b4694c4;
}

.footer-link {
  color: #4b4694;
  text-decoration-line: underline;
  text-decoration-color: #4b4694;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition-duration: 0.3s;
}

.footer-link:hover {
  color: var(--text-black);
  text-decoration-color: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.7s;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 6px;
  border: 3px solid #454545;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #848484;
  border-color: #848484;
}

::-webkit-scrollbar-thumb:active {
  background-color: #5d5d5d;
}

::-moz-scrollbar {
  width: 4px;
}

::-moz-scrollbar-thumb {
  background-color: #aeaeae;
  border-radius: 6px;
  border: 3px solid #fff;
}

::-moz-scrollbar-thumb:hover {
  background-color: #848484;
}

::-moz-scrollbar-thumb:active {
  background-color: #5d5d5d;
}

@media screen and (max-width: 768px) {
  :root {
    --vh: calc(var(--vh, 1vh) * 100);
  }
}

@media screen and (max-width: 480px) {
  header {
    margin: 0 !important;
    gap: 16px !important;
  }
  .logotype {
    width: 32px;
    height: 32px;
  }
  .tooltip {
    font-size: 14px;
  }
  .info-tooltip {
    min-width: 300px !important;
    line-height: 1.5;
  }
  .footer-label {
    text-align: center;
  }
}
