@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.weeks-widget-container {
  background: linear-gradient(180deg, #503392, #1e075b);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.weeks-widget-container.gradient-border::after {
  background: linear-gradient(
    180deg,
    #ffffff,
    #e17fff 50%,
    #7c3bff 70%,
    #390fa9
  );
}

.weeks-widget-container .grid-item {
  width: 11px;
  height: 11px;
  border-radius: 2px;
}

.weeks-widget-container .grid-item:hover {
  border: 1px solid #ffffff;
}

.weeks-widget-container .past-week {
  background-color: #a99ce9;
  box-shadow: 0px 1px 2px #1b0d62;
}

.weeks-widget-container .future-week {
  background-color: #492f83;
}

.weeks-widget-container .current-week {
  background-color: #dfdcf8;
  box-shadow: 0px 1px 8px #1b0d62;
}

.weeks-widget-container .days-left {
  font-size: 14px;
  font-weight: lighter;
  color: #c6c0f2;
}

.text-accent {
  line-height: 1.25;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 0px 1px #e17fff;
}

.tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  z-index: 9999;
}

@media screen and (max-width: 480px) {
  .weeks-widget-container {
    padding: 20px;
  }
  .weeks-widget-container .weeks-grid {
    gap: 8px !important;
  }
  .weeks-widget-container .grid-item {
    width: 15px;
    height: 15px;
    border-radius: 4px;
  }
  .tooltip {
    font-size: 12px;
  }
  .weeks-widget-container .days-left {
    font-size: 18px;
  }
}
